<div class="footer">
    <table>
    <thead>
        <tr>
            <th scope="col" colspan="3">Social Media</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="fa-brands fa-twitter"></i>&nbsp;<a href="https://twitter.com">Twitter</a></td>
            <td><i class="fa-brands fa-instagram"></i>&nbsp;<a href="https://instagram.com/">Instagram</a></td>
            <td><i class="fa-brands fa-linkedin"></i>&nbsp;<a href="https://linkedin.com/in/">LinkedIn</a></td>
        </tr>
    </tbody>
</table>

</div>