section{
    margin-top: 100px;
}
div{
    height: 50px;
    width: 200px;
    background-color: #7aa874;
    margin: auto;
    text-align: center;
    border: 2px solid black;
}

div:nth-last-of-type(2n){
    background-color: #f7db6a;
}

div:nth-last-of-type(3n) {
    background-color: #ebb02d;
}

.div1{
    transform: rotate(45deg);
}

.div2{
    transform: scale(0.5);
}

.div3{
    transform: translate(-100px, -100px);
}

.div4{
    transform: skew(30deg);
}

.div5{
    transform: rotate(45deg) translateX(100px);
}