<%- include('includes/header.ejs') %>
<body>
    <form method="post" action="/posts" class="new-post">
        <label for="username">username:</label>
        <input type="text" name="username" placeholder="Enter your username"><br>
        <label for="content">content:</label><br>
        <textarea name="content" rows="10" id="" placeholder="content goes here"></textarea><br>
        <button>submit</button>
    </form>
</body>